<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abmiues.dao.Userdao">
	<resultMap id="seller" type="com.abmiues.pojo.Seller">
		<id column="sellerid" property="sellerid" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="permitid" property="permitid" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="INTEGER" />
		<result column="exp" property="exp" jdbcType="INTEGER" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="food" type="com.abmiues.pojo.Food">
		<id column="foodid" property="foodid" jdbcType="INTEGER" />
		<result column="sellerid" property="sellerid" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="comment" property="comment" jdbcType="INTEGER" />
		<result column="des" property="des" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="camera" type="com.abmiues.pojo.Camera">
		<id column="cameraid" property="cameraid" jdbcType="INTEGER" />
		<result column="sellerid" property="sellerid" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="order" type="com.abmiues.pojo.Order">
		<id column="orderid" property="orderid" jdbcType="INTEGER" />
		<result column="time" property="time" jdbcType="VARCHAR" />
		<result column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="arrtime" property="arrtime" jdbcType="VARCHAR" />
		<result column="sellerid" property="sellerid" jdbcType="VARCHAR" />
		<result column="sellername" property="sellername" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="orderdetail" type="com.abmiues.pojo.OrderDetail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="orderid" property="orderid" jdbcType="INTEGER" />
		<result column="foodid" property="foodid" jdbcType="INTEGER" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="sellername" property="sellername" jdbcType="VARCHAR" />
		<result column="foodname" property="foodname" jdbcType="VARCHAR" />
		<result column="num" property="num" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="user" type="com.abmiues.pojo.User">
		<id column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>
		
	<select id="login" resultType="String" parameterType="String">
		SELECT
		pwd FROM users where userid=#{userid,jdbcType=VARCHAR}
	</select>
	<select id="getUserInfo" resultMap="user" parameterType="String">
		SELECT
		* FROM users where userid=#{userid,jdbcType=VARCHAR}
	</select>
	<insert id="register" parameterType="com.abmiues.pojo.User">
		insert into users
		(userid, name, tel, pwd)
		values
		(#{userid,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR},#{pwd,jdbcType=VARCHAR})
	</insert>
	<select id="getMenu" resultMap="food" parameterType="String">
		select * from food where sellerid=#{sellerid,jdbcType=VARCHAR}
	</select>
	<select id="getSeller" resultMap="seller">
		select * from seller where state=1
	</select>
	<select id="getSellerById" resultMap="seller" parameterType="String">
		select * from seller where sellerid=#{sellerid,jdbcType=VARCHAR}
	</select>
		<select id="getCamera" resultMap="camera">
		select *  from  camera left join seller on camera.sellerid=seller.sellerid
	</select>
	<select id="searchSeller" resultMap="seller" parameterType="String">
		select * from seller where name like CONCAT('%',#{name},'%')  
	</select>
	<select id="searchCamera" resultMap="camera" parameterType="String">
		select * from camera left join seller on camera.sellerid=seller.sellerid where name like CONCAT('%',#{name},'%')  
	</select>
	
	<select id="getOrderByUserid" resultMap="order" parameterType="String"><!-- 查找订单用户id -->
		select * from orders  where  userid=#{userid,jdbcType=VARCHAR}
	</select>
	
	<select id="getOrderDetailByOrderid" resultMap="orderdetail" parameterType="INTEGER"><!-- 查找订单用户id -->
		select *  from  orderdetail where orderid=#{orderid,jdbcType=INTEGER}
	</select>
	
	<insert id="addOrder" parameterType="com.abmiues.pojo.Order" 
	    useGeneratedKeys="true" keyProperty="orderid">
	    insert into orders (time, userid ,price,address,remark,arrtime,sellername,sellerid)
	    values
		(#{time,jdbcType=VARCHAR},#{userid,jdbcType=VARCHAR},#{price,jdbcType=DOUBLE},#{address,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{arrtime,jdbcType=VARCHAR},#{sellername,jdbcType=VARCHAR},#{sellerid,jdbcType=VARCHAR})
	</insert>
	
	<insert id="addOrderDetail" parameterType="com.abmiues.pojo.OrderDetail" 
	    useGeneratedKeys="true" keyProperty="id">
	    insert into orderdetail (foodid, num,orderid,remark,sellername,foodname,price)
	    values
		(#{foodid,jdbcType=INTEGER},#{num,jdbcType=INTEGER},#{orderid,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR},#{sellername,jdbcType=VARCHAR},#{foodname,jdbcType=VARCHAR},#{price,jdbcType=DOUBLE})
	</insert>
	
	<update id="updateOrder" parameterType="Map">
	    update orders set price=#{price,jdbcType=DOUBLE} where orderid=#{orderid,jdbcType=INTEGER}
	</update>
		
</mapper>